<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/emailTemplate.css">
    <title>emailTemplate</title>
</head>
<body>
    

    <div class="emailTemplate">
        <div class="logo">
           
            <img src="img/Bsazim.png" alt="">
        </div>
        <div class="fname">
            <p><span>سجاد</span>  <span>تقی لو</span> عزیز ، سلام</p>
        </div>
        <div class="text">
            <p>با تشکر از ثبت نام شما در پلتفرم بسازیم ، جهت تایید ایمیل روی دکمه زیر کلیک نمایید.</p>
        </div>

        <div class="emailBtn">
            <a href="#">تایید ایمیل</a>
        </div>
    </div>



</body>
</html>