<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/icofont.min.css">
    <link rel="stylesheet" href="css/passwordReset.css">
    <title>passwor Reset</title>
</head>
<body>
    
    <header class="head">
        <div class="nav">
            <div class="register">
               <img src="img/Bsazim.png" alt="">
            </div>
    

        </div>
    </header>

    <section id="resetPassword">
        <div class="container">
            <form class="row g-3 content">
                <div class="col-md-12 title">
                    <h5> کلمه عبور خود را فراموش کرده اید ؟</h5>
                    <p>آدرس ایمیل یا شماره موبایل خود را برای بازیابی وارد نمایید.   </p>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12  input-1">
                    <label class="lable" for="name">ایمیل یا شماره موبایل</label>
                    <svg class="MuiSvgIcon-root jss91" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"></path></svg> 
                  <input type="text"  name="number" id="phoneNumber" placeholder="ایمیل یا شماره موبایل">
                </div>
                <span class="validate" id="phoneerror"></span>


               
                

                
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button type="submit" class="btn-content" id="sendBtn">بازیابی کلمه عبور</button>
                </div>

                <div class="col-md-12 col-lg-12 col-sm-12 foot">
                    <div class="join">

                        <a href="/login">ورود </a><a href="/register">ثبت نام </a>
                        
                    
                    </div>
                </div>
            </form>
        </div>
    </section>


<script src="js/all.min.js"></script>
<script src="js/passwordReset.js"></script>
</body>
</html>